h1 {
    text-align: center;
    text-decoration: underline;
}
a {
    padding-right: 20px;
    color: white;
    text-decoration: none;
    font-size: large;
}

.menu-bar {
    background-color: cadetblue;
    display:flex ;
padding-left: 50px;
}
table {
    border-collapse: collapse;
    margin-top: 100px;
    margin-left: 60px;
  }
   th {
    background: #ccc;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background: #efefef;
  }
  
  tr:hover {
    background: #d1d1d1;
  }